<ion-header>
  <ion-navbar>
    <ion-title>
      Payment Test
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <h4>
        Instructions
      </h4>
    </ion-item>

    <ion-card-content>
      <p>1. This is a REAL transaction BUT no money is deducted from your account.</p>
      <p>2. You are purchasing an imaginary product.</p>
      <p>2. Please provide the correct phone numner and email ID. Transaction confirmation is sent.</p>
      <p>3. Kindly ignore the log of event box below. It is for developer.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <h4>
        Purchase Form
      </h4>
    </ion-item>
    <ion-card-content>
      <form [formGroup]="paymentForm" (submit)="completePayment()" novalidate>
        <ion-item>
          <ion-label stacked>First Name *</ion-label>
          <ion-input formControlName="firstName" type="text" [class.invalid]="!paymentForm.controls.firstName.valid && paymentForm.controls.firstName.dirty"
            rows=3>
          </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!paymentForm.controls.firstName.valid  && paymentForm.controls.firstName.dirty">
          <p>First name is required</p>
        </ion-item>

        <ion-item>
          <ion-label stacked>Email *</ion-label>
          <ion-input formControlName="email" type="text" [class.invalid]="!paymentForm.controls.email.valid && paymentForm.controls.email.dirty"
            rows=3>
          </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!paymentForm.controls.email.valid  && paymentForm.controls.email.dirty">
          <p>Email is required</p>
        </ion-item>

        <ion-item>
          <ion-label stacked>Phone *</ion-label>
          <ion-input formControlName="phone" type="text" [class.invalid]="!paymentForm.controls.phone.valid && paymentForm.controls.phone.dirty"
            rows=3>
          </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!paymentForm.controls.phone.valid  && paymentForm.controls.phone.dirty">
          <p>Phone number is required</p>
        </ion-item>

        <ion-item>
          <ion-label stacked>Amount (INR) *</ion-label>
          <ion-input formControlName="amount" type="text" [class.invalid]="!paymentForm.controls.amount.valid && paymentForm.controls.amount.dirty"
            rows=3>
          </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!paymentForm.controls.amount.valid  && paymentForm.controls.amount.dirty">
          <p>Amount is required</p>
        </ion-item>
        <ion-item no-lines>
          <button ion-button block type="submit" [disabled]="!paymentForm.valid">
            Pay INR {{paymentForm.controls.amount.value}}
          </button>
        </ion-item>

      </form>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <button ion-button outline (click)="clearLog()">Clear</button>
    </ion-item>
    <ion-card-content>
      <p *ngFor="let line of log; index as i;" [innerHTML]="i + '. ' + line"></p>
    </ion-card-content>
  </ion-card>

</ion-content>